@import "tailwindcss";

@layer base {
  @font-face {
    font-family: "marlin-geo-sq-light";
    src: url("/fonts/MarlinGeoSQ-Light.woff2") format("woff2");
  }

  @font-face {
    font-family: "marlin-geo-sq-regular";
    src: url("/fonts/MarlinGeoSQ-Regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "marlin-geo-sq-medium";
    src: url("/fonts/MarlinGeoSQ-Medium.woff2") format("woff2");
  }
}

@theme inline {
  --font-marlin-geo-sq-light: "marlin-geo-sq-light", sans-serif;
  --font-marlin-geo-sq-regular: "marlin-geo-sq-regular", sans-serif;
  --font-marlin-geo-sq-medium: "marlin-geo-sq-medium", sans-serif;

  --color-red: #F00000
}


body {
  width: 100dvw;
  background-color: var(--color-white);
  font-family: "marlin-geo-sq-regular", sans-serif;
  overflow-x: hidden;
}